@charset "UTF-8";

/*------------ Font ------------*/


header {
   font-family: 'Josefin Sans', sans-serif;
}

body {
   font-family: 'Josefin Sans', sans-serif;
}



/*------------ Base ------------*/

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*-------------------Grid---------------------*/
.logoStudios
{
    display: block;
    font-size: 60px;
    color: #93201C;
    letter-spacing: -1px;
    line-height: 60px;
    margin-top: -2em;
    margin-right: 8em;
    animation-name: rotation;
     animation-duration: 6s;
}

@keyframes rotation {
   0% {
     transform: rotate(0);
   }
   50% {
     transform: rotate(360deg);
   }
 }


.logo
 {
     width: 260px;
     margin-top: 2em;
     margin-top: -1.5em;
     font-size: 2em;
     margin-right: 8em;
     transition: transform 1.2s ease-in-out 1s;
     
 }



@supports (grid-area: auto) {

   .site {
      max-width: none;
   }

     .head, .main > *, .foot {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 50em)) 1fr;
   }

   .one-item {
      display: grid;
      grid-column: 1 / span 4;
      grid-template-columns: 1fr;
   }

   .three-items {
      display: grid;
      grid-column: 1 / span 4;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      row-gap: 0em;
      column-gap: 0em;
   }

   .three-items-icon {
      display: grid;
      grid-column: 1 / span 1;
      grid-template-columns: repeat(3, 1fr);
      justify-content:center;
      row-gap: 0em;
      column-gap: 0em;
   }

   /*------------ End Grid Items ------------*/



.hidden {
    display: none;
 }

.border-top {
    border-top: 1px solid #A22522;
    padding-top: 1.5em;
 }


/*-----------nav-------------*/

.nav {
    grid-column: 2 / span 2;
    padding-top: 0em;
    margin: 1em;
 }

 nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: end;
}

 nav ul li{
    display: inline;
    margin-right: 70px;
    margin-left: 100px;
    padding-top: 1em;
    margin-bottom: 0em;
 }


 nav li a {
    color: #f1f1f1;
    font-size: inherit;
    text-decoration: none;
    font-weight: 700;
    font-style: bold;
    top: 50px;
    right: 0px;
    display:flex;
    flex-direction: column;
 }

 nav li a:hover {
    color: #626262;
    text-decoration: underline;
    padding-bottom: 1em;
    margin-bottom: 1em;
 }

 nav li a.active {
    border-bottom: 3px solid #626262 ;
    text-decoration: none;
    padding-bottom: 1em;
 }

 nav li h3 {
    display: inline;
    padding: 0.8em 0.85em 0.8em 0.85em;
    background-color: #959B91;;
    color: #ffff;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;

 }

 nav li h3:hover {
    background-color: #626262;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;

 }

/*-------------log0------------------*/

 .logo {
    padding: 1.5em;
    text-align: center;
    margin:auto;
    margin-left: 18em;
 }




 /*-----------------article---------------*/


.article p {
   color: #f1f1f1;
   padding-top: 0em;
   padding-left: 1.5em;
   padding-right: 1.5em;
   padding-bottom: 1.5em;
   font-size: 1.2em;
   font-weight: 400;
   text-align: center;
   margin: 0em;
   display: flexbox;
   flex-direction: row;
}

.article h2 {
   font-weight: 700;
   font-size: 3em;
   color: #f1f1f1;
   padding: 1.5em 1.5em;
   text-align: center;
   margin: 0em;
   display: flexbox;
   flex-direction: row;
}


/*-----------------FOOTER-------------------*/

.footer {
   grid-column: 2 / span 2;
   margin: 1em;
   margin-left: 0;
   margin-right: 0;
   max-width: 100%;
   padding-left: 40px;
   padding-right: 40px;
   text-align: center;
   align-self: center;
   margin-top: 1em;
}

.footer p{
   color: #f1f1f1;
}

.footer ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
   text-align:center;
}

.footer ul li{
   display: inline;
   padding-top: 0em;
   margin-bottom: 0em;
}

.footer li:last-child {
   margin-right: 6em;

}

.footer li a {
   color: #f1f1f1;
   font-size: inherit;
   text-decoration: none;
   margin-bottom: 0em;
   text-align: center;
   align-self: center;
   font-weight: 700;
   font-style: bold;
}

.footer li a:hover {
   color: #626262;
   text-decoration: underline;
   padding-bottom: 1em;
   margin-bottom: 1em;
}

.footer li a.active {
   border-bottom: 3px solid #626262 ;
   text-decoration: none;
   padding-bottom: 1em;
}

.footer li h3 {
   display: inline;
   padding: 0.8em 0.85em 0.8em 0.85em;
   background-color: #959B91;;
   color: #ffff;
   font-size: 1em;
   border-radius: 5px;
   -webkit-transition: background-color 500ms linear;
   -ms-transition: background-color 500ms linear;
   transition: background-color 500ms linear;

}

.footer li h3:hover {
   background-color: #626262;
   -webkit-transition: background-color 500ms linear;
   -ms-transition: background-color 500ms linear;
   transition: background-color 500ms linear;

}



.origin input, text {
    padding: .75em;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 1em;
    width: 400px;
    text-align: center;
 }

 input, textarea {
    padding: .75em;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 1em;
    width: 700px;
 }


 input[type="submit"] {
  width: inherit;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 13.5em;
  padding-right: 13.5em;
  background-color: #101A2C;
  color: #93201C;
  border: solid;
  border-radius: 20px;
  border-color: #f1f1f1;
  border-width: 2px;
  font-weight:700;
  font-size: 14px;
}

.fab {
    font-size: 1.5em;
    color:#ffff;
    margin-top: 1em;
    margin-left: 0.3em;
    margin-right: 0.3em;
   
 }

 .icon {
    position: relative;
    width: 100%;
    display: inline;
    margin: 0em;
    
 }

 }


